.carousel_container {
  display: flex;
  padding-top: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  align-items: center;
  background: linear-gradient(
    160deg,
    #8ea604 0%,
    #f5bb00 18.76%,
    #ec9f05 48.44%,
    #ff4e00 73.97%,
    #bf3100 100%
  );
}
.carousel_img {
  border-radius: 15px;
  width: 100%;
  height: 100%;
}